body{
    /* font-family: 'Roboto', sans-serif; */
    margin: 3%;
}

.header h3{
    margin: 0px;
}

.status h4{
    text-transform: capitalize;
    margin: 0px;
}

table, th, td{
    border: 0.4px solid black;
}

td{
    word-wrap: break-word;
}

th{
    background-color: rgba(183, 210, 247, 0.808);
}

.statusPassed{
    color:black;
    background: rgb(26, 212, 26);
}

.statusFailed{
    color:black;
    background: rgb(236, 162, 0);
}

.statusCrashed{
    color:black;
    background: rgb(253, 78, 78);
}

div.dataTables_wrapper {
    margin-bottom: 3em;
}

/* .accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: #ccc; 
}

.panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
} */